--find-links https://paddlepaddle.org.cn/whl/mkl/stable.html
paddlepaddle-gpu==2.1.1.post112
openvino==2022.3.0
opencv-python==4.7.0.72
Pillow==9.4.0
pyclipper==1.3.0.post4
shapely==2.0.1
protobuf==3.20.*
filterpy==1.4.5
scikit-image==0.17.2
lap==0.4.0